 
  
  
  .swiper-button-prev, .swiper-button-next { 
    z-index: 5 !important;
  }
  .swiper-button-next{
    left: 180px;
  }
  .swiper-button-prev{ 
    left: 125px;
}
  .swiper-button-prev:after, .swiper-button-next:after {
    font-size: 25px !important;
    border: 1px solid white;
    color: white !important;
    padding: .6rem 1rem;
    border-radius: 100%;
  }
  .projects-title{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #333;
    font-family: 'Futura Md BT';
    transform: rotate(90deg);
  }
  @media (max-width:1200px) {
    .swiper-button-prev, .swiper-button-next {
      top: 90%;
    }.swiper{
      padding-bottom: 5rem;
    }.swiper{
      margin-left: 0rem;
      padding-left: 2rem; 
    }.swiper-button-next{
      left: 90px;
    }
    .swiper-button-prev{ 
      left: 35px;
  } 
  }
  @media (min-width:1201px) {
    .swiper-button-prev, .swiper-button-next {
      top: 85%;
    } .swiper-button-next{
      left: 160px;
    }
    .swiper-button-prev{ 
      left: 105px;
  }  .swiper{
    margin-left: 3rem;
    padding-left: 6rem;
    margin-right: 3rem;
  }
  }
