@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap;
    font-family: Swap;
    src: url("./assets/Fonts/Quicksand-Regular.ttf");
  }
  @font-face {
    font-display: swap;
    font-family: Vazir;
    src: url("./assets/Fonts/vazir/Vazir-Medium.woff2");
  }
  @font-face {
    font-display: swap;
    font-family: VazirLight;
    src: url("./assets/Fonts/vazir/Vazir-Light.woff");
  }
}

@layer utilities {
  html {
    scroll-behavior: smooth;
  }
  html[dir="rtl"] * {
    font-family: Vazir;
  }
  body {
    overflow-x: hidden;
  }
  .inset-0 {
    display: none !important;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }

  input[data-autocompleted] {
    background-color: transparent !important;
  }

  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }

    to {
      transform: translateY(0);
    }
  }

  @media (max-width: 900px) {
    .dot-bg {
      transform: rotate3d(2, 0, 24, 270deg);
    }
  }

  /* swiper */

  .swiper-button-prev,
  .swiper-button-next {
    z-index: 5 !important;
  }

  .swiper-button-next {
    left: 180px;
  }

  .swiper-button-prev {
    left: 125px;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 25px !important;
    border: 1px solid white;
    color: white !important;
    padding: 0.6rem 1rem;
    border-radius: 100%;
  }

  @media (max-width: 1200px) {
    .swiper-button-prev,
    .swiper-button-next {
      top: 90%;
    }

    .swiper {
      padding-bottom: 5rem;
    }

    .swiper {
      margin-left: 0rem;
      padding-left: 2rem;
    }

    .swiper-button-next {
      left: 90px;
    }

    .swiper-button-prev {
      left: 35px;
    }
  }

  @media (max-width: 900px) {
    .swiper-button-prev,
    .swiper-button-next {
      top: 94%;
    }
  }

  @media (min-width: 1201px) {
    .swiper-button-prev,
    .swiper-button-next {
      top: 85%;
    }

    .swiper-button-next {
      left: 160px;
    }

    .swiper-button-prev {
      left: 105px;
    }

    .swiper {
      margin-left: 3rem;
      padding-left: 6rem;
      margin-right: 3rem;
    }
  }

  /* swiper */

  /* soft skill */
  .box { 
    background-image: conic-gradient(from 0turn, #1c1d21, #222223 50%, #1c1d21),
      conic-gradient(
        from 0turn,
        transparent 20%,
        rgb(58, 63, 67),
        rgb(217, 35, 35)
      );
    background-size: calc(100% - 3px * 2) calc(100% - 3px * 2), cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-animation: bg-spin 3s linear infinite;
    animation: bg-spin 3s linear infinite;
  }

  @-webkit-keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  .dropdown:focus-within .dropdown-menu {
    opacity: 1;
    transform: translate(0) scale(1);
    visibility: visible;
  }
  .box:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }

  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }
}

@media (max-width: 500px) {
  .swiper-button-prev,
  .swiper-button-next {
    top: 90% !important;
  }
}
.leaflet-control-attribution {
  display: none !important;
}
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background-color: red !important;
  color: white !important;
}
.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png) !important;
}

.tags::-webkit-scrollbar {
  width: 5px !important;
  background-color: transparent;
  border-radius: 10px;
  height: 6px;
}
.tags::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: red !important;
}
