input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}
.swal-modal {
background: url(/Images/footer-bg.jpg);

}
.swal-title{
    color: white;
    text-align: center;
    font-family: swap;
}
.swal-footer{
    text-align: center;
}
.swal-button{
    background-color: #1c1d21;
}
.swal-button:not([disabled]):hover {
    background-color: #1c1d21;
}